@import "tailwindcss";
@import "./fonts/font.css";
@import "@heroui/styles";

body {
  font-family:
    "Outfit",
    system-ui,
    sans-serif,
    system-ui,
    -apple-system,
    Roboto;
  background-color: #000000;
  color: #d5d3d3;
}

/* Chrome/Edge/Safari ScrollBar obscuro */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0a0c10;
}
::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}

/* Firefox ScrollBar obscuro */
* {
  scrollbar-color: #444 #0a0c10;
  scrollbar-width: thin;
}

/* Chrome, Safari, Edge sugerencias de input no fuercen color blanco */
input:-webkit-autofill {
  background-color: #141414 !important;
  color: white !important;
  -webkit-text-fill-color: white !important;
  box-shadow: 0 0 0px 1000px #141414 inset !important;
}

/* Firefox sugerencias de input no fuercen color blanco */
input:-moz-autofill {
  background-color: #141414 !important;
  color: white !important;
}
